%nav.navbar.navbar-dark.bg-dark.flex-md-nowrap.p-0.shadow
  .navbar-brand.col-sm-3.col-md-2.mr-0
    マイページ
.container-fluid
  .row
    -# ナビバー
    = render "shared/configuration-nav-bar.html"
    -# ベビーシッター情報
    %main.col-md-10.ml-sm-auto.col-lg-10.px-4{:role => "main"}
      .row
        .col-md-12
          = render 'shared/error_message'
      .row
        .col-md-12
          .card
            .card-header.card-header-primary
              %h4.card-title ベビーシッター情報(新規登録)
            .card-body
              = render partial: "form", locals: { babysitter: @babysitter }