%nav.col-md-2.d-none.d-md-block.bg-light.sidebar
  .sidebar-sticky
    %h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-muted
      %span 設定
      %a.d-flex.align-items-center.text-muted{:href => "#"}
        %span{"data-feather" => "plus-circle"}
    %ul.nav.flex-column
      %li.nav-item
        = link_to "共通情報", edit_signup_path(current_user.id), class: "nav-link"
      %li.nav-item
        %a.nav-link{:href => "#"}
          %span{"data-feather" => "file"}
          保護者登録
      %li.nav-item
        %a.nav-link{:href => "#"}
          %span{"data-feather" => "shopping-cart"}
          ベビーシッタ登録