- flash.each do |msg_type, msg|
  #alert{:class => "alert alert-#{msg_type}", :role => "alert"}
    %a.close{"data-dismiss" => "alert", :href => "#"} ×
    = msg


-# 配列対応用
      -# - value.each do |v|
      -#   %li
      -#     = v