%nav#mainNav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
  .container.signup-step
    .navbar-brand.js-scroll-trigger
      %img.d-block.ml-auto{alt: "", height: "40px", width: "200px", src: "../images/logo_clear.png", class: "img-fluid top-image"}/
    %button.navbar-toggler{aria: {controls: "navbarResponsive", expanded: "false", label: "Toggle navigation"}, data: {target: "#navbarResponsive", toggle: "collapse"}, type: "button"}
      %span.navbar-toggler-icon
    #navbarResponsive.collapse.navbar-collapse
      %ul.navbar-nav.ml-auto
        %li.nav-item
          = link_to "新規登録", step1_signup_index_path, class: "nav-link js-scroll-trigger header-signup"
        %li.nav-item
          = link_to "ログイン", "#", class: "nav-link js-scroll-trigger header-login", data: {target: "#exampleModal", toggle: "modal"}
        %li.nav-item
          = link_to "", "#", class: "nav-link js-scroll-trigger header-login", data: {target: "#exampleModal", toggle: "modal"}


-# ログインページ
#exampleModal.modal.fade.mt-5{aria: {labelledby: "exampleModalLabel"}, role: "dialog", tabindex: "-1"}
  .modal-dialog{role: "document"}
    .modal-content
      .modal-header
        %h5#exampleModalLabel.modal-title ログイン
        %button.close{aria: {label: "閉じる"},data: {dismiss: "modal"}, type: "button"}
          %span{aria: {hidden: "true"}} ×
      .modal-body
        %form.form-signin
          %form.form-signin
            .form-label-group
              %label{for: "inputEmail"} メールアドレス
              %input#inputEmail.form-control{autofocus: "", placeholder: "メールアドレスを入力",required: "",type: "email"}/
            %br
            .form-label-group
              %label{for: "inputPassword"} パスワード
              %input#inputPassword.form-control{placeholder: "パスワードを入力", required: "", type: "password"}/
            .custom-control.custom-checkbox.mb-3
              %input#customCheck1.custom-control-input{type: "checkbox"}/
              %label.custom-control-label{for: "customCheck1"} パスワードを保存
            .d-flex.justify-content-end
              %button.btn-lg.btn-secondary.mr-2{data: {dismiss: "modal"}, type: "button"} 閉じる
              %button.btn-lg.btn-primary{type: "submit"} ログイン
      .modal-footer
        %button.btn.btn-google.btn-block.text-white{type: "submit"}
          %i.fab.fa-google.mr-2.text-white
          Googleでログイン
        %button.btn.btn-facebook.btn-block.text-white.mt-0{type: "submit"}
          %i.fab.fa-facebook-f.mr-2.text-white
          Facebookでログイン
