- if user_signed_in?
  = render "shared/homes-index"
- else
  = render "shared/root-header"
  %header.bg-primary.text-white
    .container.text-center
      %h1 SHARE CHILDCARE ~育児支援サービス~
      %p.lead お子様専用のベビーシッターサービスです。
      %p.lead どうしてもお子様のお世話ができない時に、本サービスで依頼することができます。
      .top-image-box
        %img{src: "/images/top-image1.jpg", class: "img-fluid top-image"}
        %img{src: "/images/top-image2.jpg", class: "img-fluid top-image"}
        %img{src: "/images/top-image3.jpg", class: "img-fluid top-image"}
  %section#about
    .container
      .row
        .col-lg-8.mx-auto
          %h2 本APLについて
          %ul
            %li Clickable nav links that smooth scroll to page sections
            %li Responsive behavior when clicking nav links perfect for a one page website
            %li Bootstrap's scrollspy feature which highlights which section of the page you're on in the navbar
            %li Minimal custom CSS so you are free to explore your own unique design options
