.w-150px {
  width: 150px !important;
}

.btn-google {
  background-color: #ea4335;
}

.btn-facebook {
  background-color: #3b5998;
}

.container.signup-step {
  max-width: 600px;
}

.lh-condensed { line-height: 1.25; }

.background-color {
  background-color: #efeeee
}